#header {
    background-size: cover;
    background-image: url(../img/full_zaba.png);
    height: calc(100vh - 106px);
}

#body {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/vibey_bust.png);
    height: 100vh;
}

#navbar nav img {
    width: 80px;
    height: 80px;
}

.navbar {
    background-color: #472b41 !important;
}

.navbar-brand {
    font-size: 1.9em;
    font-family: "Amatic SC", cursive;
}

.nav {
    font-family: "Amatic SC", cursive;
    font-size: 1.5em;
    color: white;
}

.nav a {
    color: inherit;
}

.maxWidth {
    max-width: 60vw;
    margin: auto;
}

.panneau {
    border-left: 2px solid #245b5f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    position: relative;
    flex: 1;
}

.panneau:last-child {
    border-right: 2px solid #245b5f;
}

.panneau:hover {
    backdrop-filter: sepia(60%);
}

.panneau:hover .cercle {
    filter: grayscale(0%);
}

.cercle {
    border: 2px solid #581f3b;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 90px -20px rgba(0, 0, 0, 0.75);
    position: relative;
    transition: all 1s;
    z-index: 1;
    top: -15%;
    filter: grayscale(100%);
}

.panneau > h1 {
    color: #efa10a;
    text-shadow: 2px 3px #581f3b;
    position: absolute;
    font-size: 1em;
    top: 30vh;
    visibility: hidden;
    font-family: "Montserrat", sans-serif;
    transition: all 1s;
}

.panneau:hover > h1 {
    visibility: visible;
    top: 43vh;
    font-size: 1.4em;
}

.panneau:nth-of-type(1) .cercle {
    background-size: 700px;
    background-position: 0% 35%;
    background-image: url(../img/milk_boys.jpg);
}

.panneau:nth-of-type(2) .cercle {
    background-size: 750px;
    background-position: 35% 22%;
    background-image: url(../img/milk_boys.jpg);
}

.panneau:nth-of-type(3) .cercle {
    background-size: 720px;
    background-position: 59% 31%;
    background-image: url(../img/milk_boys.jpg);
}

.panneau:nth-of-type(4) .cercle {
    background-size: 740px;
    background-position: 89% 34%;
    background-image: url(../img/milk_boys.jpg);
}

.flexMe {
    background-size: cover;
    backdrop-filter: sepia(50%);
    flex: 5;
}

.flexMe .cercle {
    height: 200px;
    width: 200px;
    top: -30%;
    filter: grayscale(0%);
    border: 2px solid rgba(239, 161, 10, 0.5);
}

.flexMe h1 {
    visibility: visible;
    top: 30vh;
    font-size: 2em;
}

/* .panEd {
    background-position: 35%;
    background-image: url(../img/pick_a_fighter/GA_46.jpg);
}

.panJoe {
    background-position: 48%;
    background-image: url(../img/pick_a_fighter/GA_52.JPG);
}

.panDave {
    background-position: 38%;
    background-image: url(../img/pick_a_fighter/the_boys.jpg);
}

.panDrew {
    background-position: 60%;
    background-image: url(../img/pick_a_fighter/GA_49.JPG);
} */
