.container-fluid {
    height: 100vh;
}

.cercle {
    height: 180px;
    width: 180px;
    border: 2px solid lightgoldenrodyellow;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    box-shadow: 0px 0px 90px -20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panneau {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-left: 2px solid black;
    background-position: center;
    background-size: cover;
    color: white;
    flex: 1;
    transition: flex 1.5s cubic-bezier(0.61, -0.19, 0.7, 1);
}

.hide {
    visibility: hidden;
}

.panneau h1:first-of-type {
    transform: translateY(-600%);
}

.panneau h1:last-of-type {
    transform: translateY(600%);
}

.open {
    flex: 5;
}

.open h1:first-of-type {
    transform: translateY(0%);
}

.open h1:last-of-type {
    transform: translateY(0%);
}

.open .cercle {
    border-color: #ffb4a2;
}

.panneau h1 {
    font-family: "Baloo Tammudu 2", cursive;
    text-transform: uppercase;
    text-shadow: #ffb4a2 1px 0 10px;
    transition: all 1.5s ease-in-out;
}

.panneau:last-child {
    border-right: 2px solid black;
}

.panneau:nth-child(1) {
    background-image: url(../img/morning_canopy.jpg);
}

.panneau:nth-child(2) {
    background-image: url(../img/night_canyon.jpg);
}

.panneau:nth-child(3) {
    background-image: url(../img/waterfall-lagoon.jpg);
}

.panneau:nth-child(4) {
    background-image: url(../img/rolling_hills.jpg);
}

.panneau:nth-child(5) {
    background-image: url(../img/dense_forest.jpg);
}

img {
    object-fit: cover;
    height: 100%;
}
