#mainDiv {
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url(https://www.awf.org/sites/default/files/Website_SpeciesPage_Pangolin01_Hero.jpg);
    position: relative;
}

.monImage {
    width: 600px;
    height: 400px;
}

.monImage img {
    max-width: 600px;
    max-height: 400px;
    display: none;
}

img.visible {
    display: block;
}

.slider {
    width: 600px;
    height: 400px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.left {
    height: 60px;
    width: 60px;
    background-image: url(../img/arrow-left.png);
    position: absolute;
    background-size: cover;
    left: 0;
    top: calc(50% - 60px);
}

.right {
    height: 60px;
    width: 60px;
    background-image: url(../img/arrow-right.png);
    background-size: cover;
    position: absolute;
    right: 0;
    top: calc(50% - 60px);
}
